/* OpenSans */
/* License: https://github.com/googlefonts/opensans/blob/main/OFL.txt */
/* Style = Normal */
{{ with resources.Get "fonts/opensans/OpenSans-Light.woff2" }}
  @font-face {
    font-family: 'OpenSans';
    src: url('{{ .RelPermalink }}') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
{{ end }}
{{ with resources.Get "fonts/opensans/OpenSans-Regular.woff2" }}
  @font-face {
    font-family: 'OpenSans';
    src: url('{{ .RelPermalink }}') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
{{ end }}
{{ with resources.Get "fonts/opensans/OpenSans-Bold.woff2" }}
  @font-face {
    font-family: 'OpenSans';
    src: url('{{ .RelPermalink }}') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
{{ end }}
