{{ define "head" }}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
  </div>
{{ end }}

{{ define "foot" }}
  {{ $keyboard_input_manager := resources.Get "js/keyboard_input_manager.js" }}
  {{ $html_actuator := resources.Get "js/html_actuator.js" }}
  {{ $grid := resources.Get "js/grid.js" }}
  {{ $tile := resources.Get "js/tile.js" }}
  {{ $local_storage_manager := resources.Get "js/local_storage_manager.js" }}
  {{ $game_manager := resources.Get "js/game_manager.js" }}
  {{ $application := resources.Get "js/application.js" }}
  {{ $2048JS := slice $keyboard_input_manager $html_actuator $grid $tile $local_storage_manager $game_manager $application | resources.Concat "js/2048.js" | minify }}
  {{ $2048SRI := $2048JS | resources.Fingerprint "sha384" }}
  <script src="{{ $2048SRI.RelPermalink }}" integrity="{{ $2048SRI.Data.Integrity }}"></script>
{{ end }}
